{
  "extends": "airbnb",
  "root": true,
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "globals": {
    "__dirname": true
  },
  "rules": {
  },
  "esversion": 6,
  "parserOptions": {
        "esversion": 6,
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    }
}
